<h1>Editing app config</h1>

<%= render "form", app_config: @app_config %>

<br>

<div>
  <%= link_to "Show this app config", @app_config %> |
  <%= link_to "Back to app configs", app_configs_path %>
</div>
