<p style="color: green"><%= notice %></p>

<h1>App configs</h1>

<div id="app_configs">
  <% @app_configs.each do |app_config| %>
    <%= render app_config %>
    <p>
      <%= link_to "Show this app config", app_config %>
    </p>
  <% end %>
</div>

<%= link_to "New app config", new_app_config_path %>
