
          <div class="row">
            <div class= "col-md-6">
              <p> Please verify linked researcher</p>
              <%= render '/article_themes/form_add_left', article_themes: article_themes %>
            </div>
            <div class= "col-md-6">
              <%= render '/article_themes/form_add_right', article_themes: article_themes %>
            </div>
          </div>
