  <%
     used_themes_ids = []
     select_year = 2013
     if article_themes.count == 0 then
       select_year = Article.find(article_id).pub_year
     end
     article_themes.each {|art_theme|
       used_themes_ids.append(art_theme.theme_id)
       select_year = art_theme.project_year
     }
     used_themes_str = "id not in (" + used_themes_ids.join(', ') + ")"
     themes_list = Theme.where(used_themes_str)
     %>
  <table>
    <thead class="thead-light">
      <tr>
        <th>Theme</th>
        <th>Name</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% themes_list.each do |theme| %>
        <tr>
          <td>
            <%= theme.id %>
          </td>
          <td>
            <%= theme.name %>
          </td>
          <td>
            <%= select(select_year, "project_year"+theme.id.to_s , options = options_for_select((2013..2020), select_year) ) %>
          </td>
          <td>
            <%= button_to('Assign', {:action => 'link_to_theme', :controller => 'article_themes', :data => {:article_id => article_id,:id => theme.id, :year => select_year}}, :class => 'btn btn-success btn-sm') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
