<h1>Editing article theme</h1>

<%= render "form", article_theme: @article_theme %>

<br>

<div>
  <%= link_to "Show this article theme", @article_theme %> |
  <%= link_to "Back to article themes", article_themes_path %>
</div>
