<p style="color: green"><%= notice %></p>

<h1>Article themes</h1>

<div id="article_themes">
  <% @article_themes.each do |article_theme| %>
    <%= render article_theme %>
    <p>
      <%= link_to "Show this article theme", article_theme %>
    </p>
  <% end %>
</div>

<%= link_to "New article theme", new_article_theme_path %>
