<p style="color: green"><%= notice %></p>

<h1>Author affiliations</h1>

<div id="author_affiliations">
  <% @author_affiliations.each do |author_affiliation| %>
    <%= render author_affiliation %>
    <p>
      <%= link_to "Show this author affiliation", author_affiliation %>
    </p>
  <% end %>
</div>

<%= link_to "New author affiliation", new_author_affiliation_path %>
