<!--Display a filtered list of articles -->
<div id="filtered_artilcle_list" class="container">
  <% #= will_paginate articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <% articles.each do |article| %>
        <tr>
          <td>
            <%
              if article.title.length > 100 then
                  a_title = article.title[0,96] + "..."
              else
                  a_title = article.title
              end
            %>
            <%= link_to(a_title.html_safe, article) %>
          </td>
          <td>
            <%= article.pub_ol_year == nil ? article.pub_print_year : article.pub_ol_year %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
