<!--Display a filtered list of articles -->
<div id="filtered_artilcle_list" class="container">
  <% #= will_paginate articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <table class="table table-sm table-striped table-bordered">
    <tbody>
      <% articles.each do |article| %>
        <tr>
          <td>
            <b><%= link_to(article.title.html_safe, article) %> (<%= article.pub_ol_year == nil ? article.pub_print_year : article.pub_ol_year %>)</b>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
