<div id="<%= dom_id article_dataset %>">
  <p>
    <strong>Doi:</strong>
    <%= article_dataset.doi %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article_dataset.article_id %>
  </p>

  <p>
    <strong>Dataset:</strong>
    <%= article_dataset.dataset_id %>
  </p>

</div>
