<h1>Editing article dataset</h1>

<%= render "form", article_dataset: @article_dataset %>

<br>

<div>
  <%= link_to "Show this article dataset", @article_dataset %> |
  <%= link_to "Back to article datasets", article_datasets_path %>
</div>
