<p style="color: green"><%= notice %></p>

<h1>Article datasets</h1>

<div id="article_datasets">
  <% @article_datasets.each do |article_dataset| %>
    <%= render article_dataset %>
    <p>
      <%= link_to "Show this article dataset", article_dataset %>
    </p>
  <% end %>
</div>

<%= link_to "New article dataset", new_article_dataset_path %>
