<h1>Editing cr publication</h1>

<%= render "form", cr_publication: @cr_publication %>

<br>

<div>
  <%= link_to "Show this cr publication", @cr_publication %> |
  <%= link_to "Back to cr publications", cr_publications_path %>
</div>
