<div class=container>
  <h4>Reviewing publication</h4>

  <%= render "review_form", cr_publication: @cr_publication %>

  <div>
    <%= link_to "Show this cr publication", @cr_publication %> |
    <%= link_to "Back to cr publications", cr_publications_path %>
  </div>
<div>
