<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @cr_publication %>

  <div>
    <%= link_to "Review publication", edit_cr_publication_path(@cr_publication),  :class => "btn btn-primary btn-sm"%> 
    <%= link_to "Back to new publications", cr_publications_path , :class => "btn btn-success btn-sm"%>
  </div>
</div>
