<h1>Editing organisation</h1>

<%= render "form", organisation: @organisation %>

<br>

<div>
  <%= link_to "Show this organisation", @organisation %> |
  <%= link_to "Back to organisations", organisations_path %>
</div>
