<!--Display a list of researchers -->
<div id="authors_list" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Articles</th>
        <th>ORCID</th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |auth| %>
      <% if auth.given_name != nil
           pr_name = auth.given_name.gsub('á','a').gsub('é','e').gsub('í','i').gsub('ó','o').gsub('ú','u')
           pr_name = pr_name.gsub(/\w+/){|s| "#{s[0].upcase}. "}.sub(/\w+\z/, &:capitalize).sub(' .',' ')
           pr_name += auth.last_name
           this_name = pr_name
           if auth.isap == true
             this_name = pr_name
             this_name = link_to(pr_name, auth)
           end
	     end 
        %>
          <tr>
            <td> <%= link_to(this_name, controller: "authors", action: "show", id: auth.id) %></td>
            <th> <%= auth.articles.count() %> </td>
            <th> <%= auth.orcid %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

