<!--Display a list of researchers -->
<div id="authors_list" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Articles</th>
        <th>ORCID</th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |author| %>
          <tr>
            <td> <%= link_to(author.fullname, controller: "authors", action: "show", id: author.id) %></td>
            <th> <%= author.articles %> </td>
            <th> <%= author.orcid %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

