<!--Display a list of researchers -->
<div id="authors_list" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Articles</th>
        <th>ORCID</th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |author| %>
        <% if author.articles.length > 0 %>
          <tr>
            <td><%= link_to(author.get_full, author) %> </td>
            <th> <%= author.articles.length %> </td>
            <th> <%= author.orcid %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

