<!--Display a filtered list of authors -->
<div id="filtered_author_list" class="container">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Articles</th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |author| %>
        <tr>
          <td>
            <%= link_to(author.full_name, controller: "authors", action: "show", id: author.id) %>
          </td>
          <td>
            <%= author.article_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
