<!--Display a filtered list of researchers -->
<div id="filtered_artilcle_list" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Author</th>
        <th>Articles</th>
        <th>ORCID</th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |author| %>
        <tr>
          <td><%= link_to(author.full_name, author) %> </td>
          <th> <%= author.articles.count %> </td>
          <th> <%= author.orcid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
