          <% if article_author.status != "verified" %>
              <div class="row">
                <div class= "col-md-6">
                  <p> Please verify linked researcher</p>
                  <%= render '/article_authors/form_verify_left', article_author: article_author %>
                </div>
                <div class= "col-md-6">
                  <%= render '/article_authors/form_verify_right', article_author: article_author %>
                </div>
              </div>
          <% else %>
              <%= render '/article_authors/form_verify_left', article_author: article_author %>
          <% end %>
