<h1>Editing article author</h1>

<%= render "form", article_author: @article_author %>

<br>

<div>
  <%= link_to "Show this article author", @article_author %> |
  <%= link_to "Back to article authors", article_authors_path %>
</div>
