<p style="color: green"><%= notice %></p>

<h1>Article authors</h1>

<div id="article_authors">
  <% @article_authors.each do |article_author| %>
    <%= render article_author %>
    <p>
      <%= link_to "Show this article author", article_author %>
    </p>
  <% end %>
</div>

<%= link_to "New article author", new_article_author_path %>
