<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <a href="https://ukcatalysishub.co.uk">UK Catalysis Hub</a> a Project of <a href=https://epsrc.ukri.org/">EPSRC</a>
    </p>
    <p>
	Website hosted by <a href="https://stfc.ukri.org/">Science Technology Facilities Council</a>, Harwell
    </p>
  </div>
</footer>
