<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#", class = "btn btn-info btn-sm" >Back to top</a>
    </p>
    <p>
      The <a href="https://ukcatalysishub.co.uk">UK Catalysis Hub Consortium</a>
      is funded by <a href=https://epsrc.ukri.org/">EPSRC</a> grants:
      EP/R026939/1, EP/R026815/1, EP/R026645/1, EP/R027129/1 or
      EP/M013219/1(biocatalysis))
    </p>
    <p>
	Website hosted by <a href="https://stfc.ukri.org/">Science Technology
    Facilities Council</a>, Harwell
    </p>
  </div>
</footer>
