<!-- Affiliations -->
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
	        <h6 style= "margin:auto">Institutions</h6>
            </div>
            <div class="card-body p-0">
            <div class="row">
	        <%= render partial: 'affiliations/affiliation_map', locals:{country_data: get_country_counts} %>
	     </div>
		    <div class="col-sm-6 container">
		        <h6 style= "text-align: center;">Countries of origin</h6>
		        <%= render partial: 'affiliations/affiliation_top', locals: {items: get_country_counts[0..9], count_name: "Institutions"}%>
		        <p>
		          <%= link_to 'Download Data', {:action => "ctry_affi_count", :controller => "affiliations"}, :class => "btn btn-success btn-sm" %>
		          <%= link_to 'View Institutions', affiliations_path, :class => "btn btn-success btn-sm" %>
		        <p>
		    </div>
	        </div>
	        </div>
	     </div>
	</div><!--col-sm-12-->
</div> <!--row mb3 -->   
