<!-- Data Objects -->
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h6 style= "margin:auto">Data objects</h6>
          </div>
          <div class="card-body p-0">
          <div class="row">
            <div class="col-sm-6">
                <% year_series = []
                  do_by_year = Dataset.ds_per_year
                  doby = do_by_year.each.collect{ |doby| [doby['item'], doby['i_count']]}
                  year_series[0] = {name:"per year", data: doby}
                  sum = 0
                  year_series[1] = {name:"accumulated", data: doby.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                <%= column_chart(year_series, :legend=> "bottom", title:"Published Data Objects")%>
                <p>
	              <%= link_to 'Download Data', {:action => "data_count", :controller => "datasets"}, :class => "btn btn-success btn-sm" %>
                  <%= link_to 'View Data Objects', datasets_path, :class => "btn  btn-success btn-sm" %>
          	    <p>
	        </div>
            <div class="col-sm-6">
                <% if Author.data_objects_count.length()>0 %>
                <h6 style= "text-align: center;">Top Data Publishing Researchers</h6>
                <%= render partial: 'authors/authors_top', locals: {authors: Author.data_objects_count.limit(10), count_name: "Data Objects"}%>
                <% end %>

            </div>
          </div>
        </div>
      </div>
    </div><!--col-sm-12-->
</div> <!--row mb3 -->
