<!--Publications-->
<div class="row px-1 my-3">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-light">
                <h6 style= "margin:auto">Publications</h6>
            </div>
            <div class="card-body p-0" style= "margin:auto">
                <div class="row">
                    <div class="col-sm-6">
                        <% year_series = []
                          arts_by_year = Article.where(:status => "Added").group(:pub_year).count
                          year_series[0] = {name:"Annual", data: arts_by_year}
                          sum = 0
                          year_series[1] = {name:"Accumulating", data: arts_by_year.each.collect{ |aby| [aby[0], sum+=aby[1]] } } %>
                        <%= column_chart(year_series, :legend=> "bottom", title:"Publications Annual vs Accumulating")%>
                        <p>
        	              <%= link_to 'Download Data', {:action => "arts_by_year_stats", :controller => "articles"}, :class => "btn-success btn-sm" %>
                          <%= link_to 'View Publications', articles_path, :class => "btn-success btn-sm" %>
          	            </p>
                    </div>
                    <div class="col-sm-6">
                        <h6 style= "text-align:center">Recent publications</h6>
                        <%= render partial: 'articles/articles_recent', locals: {articles: Article.latest.limit(5) }%>
                    </div><!--col-sm-6-->
                </div><!--row-->
            </div><!--card body-->
        </div><!--card-->
    </div><!--col-sm-12-->
</div><!-- div row -->
