<%= javascript_include_tag('dashboard.js') %>
<div class="container">
  <div class="row">
    <main role="main">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Publications per Year</h1>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="90" height="38"></canvas>
      <h2>Latest publications </h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Publications</th>
            </tr>
          </thead>
          <tbody>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/564">Homocoupling of Phenylboronic Acid using Atomically Dispersed Gold on Carbon Catalysts: Catalyst Evolution Before Reaction</a> (2018)
		    <br><b>Authors (9):</b>
		    <a href="/authors/2039">T.  E. Parmentier</a>, <a href="/authors/640">S. Dawson</a>, <a href="/authors/170">G. Malta</a>, <a href="/authors/639">L. Lu</a>, <a href="/authors/1334">T.  E. Davies</a>, <a href="/authors/171">S.  A. Kondrat</a>, <a href="/authors/7">S.  J. Freakley</a>, <a href="/authors/9">C.  J. Kiely</a>, <a href="/authors/15">G.  J. Hutchings</a>
		    <br>ChemCatChem
		    <b>DOI: </b>10.1002/cctc.201701840 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2018)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/565">In situ determination of the nanostructure effects on the activity, stability and selectivity of Pt-Sn ethanol oxidation catalysts</a> (2018)
		    <br><b>Authors (6):</b>
		    <a href="/authors/263">L. Calvillo</a>, <a href="/authors/2040">L. Mendez De Leo</a>, <a href="/authors/2041">S.  J. Thompson</a>, <a href="/authors/2042">S.  W. T. .Price</a>, <a href="/authors/2043">E.  J. Calvo</a>, <a href="/authors/267">A.  E. Russell</a>
		    <br>Journal of Electroanalytical Chemistry
		    <b>DOI: </b>10.1016/j.jelechem.2017.09.060 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2018)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/566">In Situ EPR Study of the Redox Properties of CuO–CeO2 Catalysts for Preferential CO Oxidation (PROX)</a> (2016)
		    <br><b>Authors (8):</b>
		    <a href="/authors/2044">F. Wang</a>, <a href="/authors/2045">R. Büchel</a>, <a href="/authors/2046">A. Savitsky</a>, <a href="/authors/2047">M. Zalibera</a>, <a href="/authors/2048">D. Widmann</a>, <a href="/authors/2049">S.  E. Pratsinis</a>, <a href="/authors/2050">W. Lubitz</a>, <a href="/authors/1859">F. Schüth</a>
		    <br>ACS Catalysis
		    <b>DOI: </b>10.1021/acscatal.6b00589 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2016)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/567">Linear, Trinuclear Cobalt Complexes with o-Phenylene-bis-Silylamido Ligands</a> (2017)
		    <br><b>Authors (8):</b>
		    <a href="/authors/2024">K.  Y. Monakhov</a>, <a href="/authors/2025">J. van Leusen</a>, <a href="/authors/2026">P. Kögerler</a>, <a href="/authors/2051">E. -L. Zins</a>, <a href="/authors/2052">M.  E. ïL. Alikhani</a>, <a href="/authors/2030">M. Tromp</a>, <a href="/authors/2022">A.  A. Danopoulos</a>, <a href="/authors/2023">P. Braunstein</a>
		    <br>Chemistry - A European Journal
		    <b>DOI: </b>10.1002/chem.201700496 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2017)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/568">ReOx/TiO2: A Recyclable Solid Catalyst for Deoxydehydration</a> (2015)
		    <br><b>Authors (5):</b>
		    <a href="/authors/2053">L. Sandbrink</a>, <a href="/authors/2054">E. Klindtworth</a>, <a href="/authors/1968">H. -U. Islam</a>, <a href="/authors/11">A.  M. Beale</a>, <a href="/authors/2055">R. Palkovits</a>
		    <br>ACS Catalysis
		    <b>DOI: </b>10.1021/acscatal.5b01936 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2015)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/569">Solution Processing Route to Multifunctional Titania Thin Films: Highly Conductive and Photcatalytically Active Nb:TiO2</a> (2014)
		    <br><b>Authors (12):</b>
		    <a href="/authors/2056">D.  S. Bhachu</a>, <a href="/authors/2057">S. Sathasivam</a>, <a href="/authors/736">G. Sankar</a>, <a href="/authors/507">D.  O. Scanlon</a>, <a href="/authors/202">G. Cibin</a>, <a href="/authors/2058">C.  J. Carmalt</a>, <a href="/authors/1851">I.  P. Parkin</a>, <a href="/authors/2059">G.  W. Watson</a>, <a href="/authors/2060">S.  M. Bawaked</a>, <a href="/authors/2061">A.  Y. Obaid</a>, <a href="/authors/2062">S. Al-Thabaiti</a>, <a href="/authors/2063">S.  N. Basahel</a>
		    <br>Advanced Functional Materials
		    <b>DOI: </b>10.1002/adfm.201400338 article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2014)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/570">Supported metal nanoparticles with tailored catalytic properties through sol-immobilisation: applications for the hydrogenation of nitrophenols</a> (2018)
		    <br><b>Authors (5):</b>
		    <a href="/authors/124">S.  M. Rogers</a>, <a href="/authors/23">C.  R.  A. .Catlow</a>, <a href="/authors/162">D. Gianolio</a>, <a href="/authors/22">P.  P. Wells</a>, <a href="/authors/8">N. Dimitratos</a>
		    <br>Faraday Discussions
		    <b>DOI: </b>10.1039/c7fd00216e article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2018)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/571">The nature and effects of rhodium and antimony dopants on the electronic structure of TiO2: towards design of Z-scheme photocatalysts</a> (2016)
		    <br><b>Authors (4):</b>
		    <a href="/authors/2064">E.  N. . K. .Glover</a>, <a href="/authors/2065">S.  G. .Ellington</a>, <a href="/authors/736">G. Sankar</a>, <a href="/authors/2015">R.  G. Palgrave</a>
		    <br>Journal of Materials Chemistry A
		    <b>DOI: </b>10.1039/c6ta00293e article-journal
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2016)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/572">Designing metal nanoparticles for catalysis</a> (2017)
		    <br><b>Authors (1):</b>
		    <a href="/authors/124">S.  M. Rogers</a>
		    <br>UCL Discovery
		    <b>DOI: </b>discovery.ucl.ac.uk/id/eprint/1560408 phd-thesis
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2017)</a>, <a href="/themes/11">XAFS (BAG) (2017)</a>
		  </td>
		</tr>
		<tr>
		  <td>
		    <b>Title:</b> <a href="/articles/573">Novel Lewis acidic zeolites as heterogeneous catalysts for liquid phase chemistry</a> (2017)
		    <br><b>Authors (1):</b>
		    <a href="/authors/926">A. Al-Nayili</a>
		    <br>Online Research @ Cardiff (ORCA)
		    <b>DOI: </b>orca.cf.ac.uk/107295 phd-thesis
		     <br><b>Themes: </b> <a href="/themes/11">XAFS (BAG) (2017)</a>
		  </td>
		</tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

