<%= javascript_include_tag('dashboard.js') %>
<div class="container">
  <div class="row">
    <main role="main">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Publications per Year</h1>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="90" height="38"></canvas>
      <h2>Latest publications </h2>
      <div class="table-responsive">
        <%= render partial: 'articles/articles_list', locals: {articles: @articles }%>
      </div>
    </main>
  </div>
</div>
