<div class="row">
  <div class="col-md-6">
    <h3 class="well-title">
      <%= "#{@movies.count} matching movies found" %>
    </h3>
    <% @movies.each_slice(2) do |sliced_movies| %>
      <div class="row">
        <% sliced_movies.each do |movie| %>
          <div class="col-md-6">
            <div class="well movie">
              <div class="title" title="<%= movie.title %>">
                <%= movie.title %>
              </div>
              <div class="row details">
                <div class="col-md-6">
                  <div class="badge price">
                    <%= movie.price %>
                    $
                  </div>
                  <br/>
                  <i class="glyphicon glyphicon-calendar" title="Year"></i>
                  <%= movie.year %>
                  <br/>
                  <i class="glyphicon glyphicon-film" title="Genre"></i>
                  <%= movie.genre.name %>
                  <br/>
                  <i class="glyphicon glyphicon-home" title="Studio"></i>
                  <%= movie.studio.name %>
                  <% movie.writers.each do |writer| %>
                    <br/>
                    <i class="glyphicon glyphicon-pencil" title="writer"></i>
                    <%= writer.name %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <% movie.actors.each do |actor| %>
                    <br/>
                    <i class="glyphicon glyphicon-user" title="actor"></i>
                    <%= actor.name %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @movies %>
  </div>
  <div class="col-md-6">
    <h3 class="well-title">
      Filter
      <%= link_to 'reset', '?', class: 'btn btn-default btn-sm pull-right' %>
    </h3>
    <div class="well">
      <div class="row search-inputs">
        <%= form_tag nil, method: :get do %>
          <%= hidden_field_tag 'search[order]', @search.order.definition.request_value if @search.order %>
          <div class="col-md-4">
            <% title_filter = @search.filter(:title) %>
            <%= text_field_tag 'search[title]', title_filter.value, class: 'form-control', placeholder: title_filter.name %>
          </div>
          <div class="col-md-5">
            <% price_filter = @search.filter(:price) %>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= text_field_tag 'disabled', price_filter.value, class: 'form-control', id: 'price-range-display', disabled: true %>
              <%= hidden_field_tag 'search[price]', price_filter.value, class: 'form-control', id: 'price-range', data: { 'absolute-min' => price_filter.absolute_min,  'absolute-max' => price_filter.absolute_max  } %>
              <div class="input-group-btn">
                <button class="btn btn-primary">search</button>
              </div>
            </div>
            <br/>
            <% #.input-group %>
              <div class="input-group-addon">$</div>
              <%= text_field_tag 'search[price]', price_filter.value, class: 'form-control', id: 'price-range', data: { 'absolute-min' => price_filter.absolute_min,  'absolute-max' => price_filter.absolute_max  }, disabled: true %>
              <button class="form-control btn btn-primary">search</button>
            <% end %>
            <div class="slider-row">
              <div class="slider-min">
                <%= "#{price_filter.absolute_min}$" %>
              </div>
              <div class="slider-max">
                <%= "#{price_filter.absolute_max}$" %>
              </div>
              <div class="slider">
                <div id="slider-range"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <a class="btn btn-default" data-toggle="dropdown" href="#" role="button">
              sort by:
              <%= @search.order.title if @search.order %>
              <b class="caret"></b>
            </a>
            <ul aria-labelledby="drop4" class="dropdown-menu" id="menu1" role="menu">
              <% @search.orders.reject(&:active).each do |order| %>
                <li>
                  <%= link_to order.title, order.by.path %>
                </li>
              <% end %>
            </ul>
            <br/>
            <% classics_filter = @search.filter(:classics) %>
            <% if classics_filter.active? %>
              <%= link_to '[&#10003;] Only Classics', classics_filter.remove.path %>
            <% else %>
              <%= link_to '[_] Only Classics', classics_filter.add.path %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% [:genre, :studio, :year].each do |filter_name| %>
          <% filter = @search.filter(filter_name) %>
          <div class="col-md-4">
            <div class="filter">
              <div class="filter-title">
                <%= filter.name %>
                <span class="small text-muted">
                  <%= "(#{filter.facet.length})" %>
                </span>
              </div>
              <div class="filter-values">
                <ul class="selected">
                  <% filter.selected.each do |entity| %>
                    <% display = filter_name == :year ? entity : entity.name %>
                    <li>
                      <%= link_to display, filter.remove(entity).path %>
                    </li>
                  <% end %>
                </ul>
                <ul class="selectable">
                  <% filter.facet.reject(&:selected).each do |facet_value| %>
                    <% entity = facet_value.entity %>
                    <li>
                      <% display = filter_name == :year ? entity : entity.name %>
                      <%= link_to display, filter.add(entity).path %>
                      <span class="count">
                        <%= "(#{facet_value.count})" %>
                      </span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% [:actors, :writers].each do |filter_name| %>
          <% filter = @search.filter(filter_name) %>
          <div class="col-md-4">
            <div class="filter">
              <div class="filter-title">
                <%= filter.name %>
                <span class="small text-muted">
                  <%= "(#{filter.facet.length})" %>
                </span>
              </div>
              <div class="filter-values">
                <ul class="selected">
                  <% filter.selected.each do |entity| %>
                    <li>
                      <%= link_to entity.name, filter.remove(entity).path %>
                    </li>
                  <% end %>
                </ul>
                <ul class="selectable">
                  <% filter.facet.reject(&:selected).each do |facet_value| %>
                    <% entity = facet_value.entity %>
                    <li>
                      <%= link_to entity.name, filter.add(entity).path %>
                      <span class="count">
                        <%= "(#{facet_value.count})" %>
                      </span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

  $(function() {
    var current = $('#price-range').val();
    var abs_min = parseFloat($('#price-range').attr('data-absolute-min'));
    var abs_max = parseFloat($('#price-range').attr('data-absolute-max'));

    var current_min = abs_min;
    var current_max = abs_max;

    if (current != '') {
      var splits = current.split(' - ');
      current_min = parseFloat(splits[0]);
      current_max = parseFloat(splits[1]);
    }
    $( "#slider-range" ).slider({
      range: true,
      min: abs_min,
      max:  abs_max,
      values: [ current_min, current_max ],
      slide: function( event, ui ) {
        $( "#price-range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        $( "#price-range-display" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
  });

</script>
