<div id="<%= dom_id cr_affiliation %>">
  <p>
    <strong>Name:</strong>
    <%= cr_affiliation.name %>
  </p>

  <p>
    <strong>Article author:</strong>
    <%= cr_affiliation.article_author_id %>
  </p>

  <p>
    <strong>Author affiliation:</strong>
    <%= cr_affiliation.author_affiliation_id %>
  </p>

</div>
