<h1>Editing cr affiliation</h1>

<%= render "form", cr_affiliation: @cr_affiliation %>

<br>

<div>
  <%= link_to "Show this cr affiliation", @cr_affiliation %> |
  <%= link_to "Back to cr affiliations", cr_affiliations_path %>
</div>
