<p style="color: green"><%= notice %></p>

<h1>Cr affiliations</h1>

<div id="cr_affiliations">
  <% @cr_affiliations.each do |cr_affiliation| %>
    <%= render cr_affiliation %>
    <p>
      <%= link_to "Show this cr affiliation", cr_affiliation %>
    </p>
  <% end %>
</div>

<%= link_to "New cr affiliation", new_cr_affiliation_path %>
