<div class="container rounded border-light bg-light ">
    <h5> Institutions collaborating with the UK Catalysis Hub</h5>
    <p>
      Researchers affiliated to <%= number_with_delimiter(Affiliation.group("institution").count().count()) %> 
      institutions (<%= number_with_delimiter(Affiliation.all.count()) %> affiliations) have 
      collaborated in publishing <%= Article.active.count() %> papers supproted by UK Catalysis Hub
    </p>
    <ul>
      <li>The institutions tab allows browsing the institution affiliations hosting researchers that have collaborated
        in the UK Catalysis Hub publications.</li>
      <li>The indicators tab shows statistics about institutions.</li>
    </ul>
</div>
