  <div class="card">
    <div class="card-header">
      <h6 style= "margin:auto">Countries of oringin</h6>
    </div>
    <div class="card-body" style="height: 370px; margin-left: auto; margin-right: auto;">
      <%= geo_chart country_data %>
    </div>
  </div>
