<!--Countries Tab pane-->
<ul class="nav nav-pills" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="world-tab" data-bs-toggle="pill" data-bs-target="#world-pill-pane" type="button" role="tab" aria-controls="world-pill-pane" aria-selected="true">World</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="europe-tab" data-bs-toggle="pill" data-bs-target="#europe-tab-pane" type="button" role="tab" aria-controls="europe-tab-pane" aria-selected="false">Europe</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="asia-tab" data-bs-toggle="pill" data-bs-target="#asia-tab-pane" type="button" role="tab" aria-controls="asia-tab-pane" aria-selected="false">Asia</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="pill" data-bs-target="#uk-tab-pane" type="button" role="tab" aria-controls="uk-tab-pane" aria-selected="false">UK</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="world-pill-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <!-- World Map -->
    <%= geo_chart country_data, library: {colorAxis: {colors: ['#36da45','#044904']} }   %>  
  </div>
  <div class="tab-pane fade" id="europe-tab-pane" role="tabpanel" aria-labelledby="europe-tab" tabindex="0">
    <!-- Europe Map -->
    <%= geo_chart country_data, library: { region: '150',  colorAxis: {colors: ['#36da45','#044904']} }  %>
  </div>
  <div class="tab-pane fade" id="asia-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <!-- Asia Map -->
    <%= geo_chart country_data, library: { region: '142', colorAxis: {colors: ['#36da45','#044904']}}   %> 
  </div>
  <div class="tab-pane fade" id="uk-tab-pane" role="tabpanel" aria-labelledby="uk-tab" tabindex="0">
    <!-- UK Map -->
    <% uk_data = [['Scotland',7],['Wales',3],['England',51],['Northern Ireland',1]]%>
    <%= geo_chart uk_data, library: {region: 'GB', resolution: 'provinces', colorAxis: {colors: ['#36da45','#044904']}}   %>
  </div>
</div>

