
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$white: white;
$black: black;

body, p, ol, ul, td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 h2 {
   color: #205692;
   font-weight: semi-bold;
   font-size: 28px;
 }

 h3, h4 {
   font-weight: semi-bold;
   font-size: 20px;
 }

 /* navbar */
 .navbar {
     background-color: #77b35d;
     border-color: #77b35d;
 }
 /* Title */
 .navbar .navbar-brand {
     color: #FFFFFF;
     font-family: 'Titillium Web', serif;
 }
 .navbar-brand:hover {
   color: #FFFFFF;
   background-color: #abd19b;
   border-color: #abd19b;
 }
 /*nav-link*/
 .nav-link:hover {
   background-color: #abd19b;
   border-color: #abd19b;
 }

 /* tooltip */
 .ui-tooltip, .arrow:after {
   background: lemonchiffon;
   border: 2px solid white;
   z-index: 9999;
 }

 .ui-tooltip {
   padding: 10px 20px;
   color: black;
   border-radius: 20px;
   font: bold 12px "Helvetica Neue", Sans-Serif;
   text-transform: uppercase;
   box-shadow: 0 0 7px black;
 }

 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }

 .arrow.top {
   top: -16px;
   bottom: auto;
 }

 .arrow.left {
   left: 50%;
 }

 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 80px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
 }

 footer p {
  margin-bottom: .2rem;
 }

 .footer {
   position: float-right;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 80px;
   line-height: 60px; /* Vertically center the text there */
   background-color: #f5f5f5;
   margin-top: -80px
 }
 .img-container {
     margin: auto;
     width: 348px;
     height: 150px;
     text-align: center;
     border: 1px solid red;
 }
 .resize_fit_center {
     top: 50%;
     left: 50%;
     max-width: 100%;
     max-height: 100%;
     vertical-align: middle;
 }

 .img-container2 {
   width: 80%;
   height: 80%;
   margin:auto;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background-color: #aaa;
 }

 .resize_fit_center2 {
   max-width: 100%;
   max-height: 100%;
   margin:auto;
   top:0;
   bottom:0;
   left:0;
   right:0;
 }

 .img-container3 {
   width: 100%;
   height: 100%;
   margin:auto;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background-color: #aaa;
   object-fit: contain
 }

 .resize_fit_center3 {
   max-height: 180px;
   max-width:100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .card-text {
   font-family: 'Open Sans', serif;
   font-size: 14px;
 }
 .container
 {
 	margin-top: 20px;
 	}
 .specimendetails
 {
 	background: green;
 	width: 140px;
 	color: white;
 	font-size: 12px;
 	font-weight: bold;
 	}
 .col-md-7 h2
 {
 	color: #555;
 	}
 .midslevel
 {
 	height: 15px;
 	}
 .determination
 {
 	color: #FE980F;
 	font-size: 20px;
 	font-weight: bold;
 	padding-top: 20px;
 	}

 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }
