body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.search-inputs{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #999;}

.filter{
  margin-bottom: 20px;
  .filter-title{
    font-size: 110%;
    font-weight: bold;
  }
  .filter-values{
    margin-top: 5;
    border: 1px solid gray-light;
    border-width: 1px 0 0 0;
    .selected{
      border: 1px solid gray-lighter;
      border-width: 0 1 0 0;
      list-style: none;
      padding-left: 0;}
      a{
        &:before{
          content: 'x';
          margin-right: 5px;}
        }
    .selectable{
      max-height: 100px;
      overflow: scroll;
      background-color: white;
      list-style: none;
      padding-left: 0;}
      li{
        a{
          color: gray;
          font-size: 90%;}
        .count{
          color: gray-light;
          font-size: 70%;}
        }
      }
    }
form{
    input, textarea, select, .uneditable-input {
      border: 1px solid #bbb;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      height: auto !important;
      margin-bottom: 15px;
    }
  }
